<div class="container">
  <h1>Hello World</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et dicta architecto doloremque voluptatem consequatur maxime odio, ab recusandae voluptas, quae reiciendis quos provident labore illo? Nam perspiciatis labore possimus.</p>
</div>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent">LIKE</button>
      <button mat-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
